# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
backend/.venv/
backend/db.sqlite3

# Node
node_modules/
frontend/node_modules/

# Build outputs
frontend/dist/

# Env files
.env
.env.*
